{% extends "layout.html" %}

{% block page_body %}
<div class="container-tight py-4">
    <form method="post" action="{{ request.app.admin_path }}/password" class="card card-md">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="card-body">
            <h2 class="card-title text-center mb-4">{{ _('update_password') }}</h2>

            {% include "components/alert_error.html" %}

            <div class="mb-3">
                <label class="form-label required">{{ _('old_password') }}</label>
                <input type="password" name="old_password" class="form-control" autocomplete="current-password" required>
            </div>

            <div class="mb-3">
                <label class="form-label required">{{ _('new_password') }}</label>
                <input type="password" name="new_password" class="form-control" autocomplete="new-password" required>
                <small class="form-hint text-muted">Минимум 8 символов, включая цифры и спецсимволы.</small>
            </div>

            <div class="mb-3">
                <label class="form-label required">{{ _('re_new_password') }}</label>
                <input type="password" name="re_new_password" class="form-control" autocomplete="new-password" required>
            </div>
        </div>

        <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary">
                {{ _('submit') }}
            </button>
        </div>
    </form>
</div>
{% endblock %}